@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
background-color: #FFFCF2;
}

header {
  text-align: center;
  border: 2px solid black;
  background-color: #EB5E28;
  padding: 5px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 10px;
  padding-left: 5px;
}

input[type="text"],
textarea {
  outline: none;
  box-sizing: border-box;
  border-radius: 2px;
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid #EB5E28;
}

#size {
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  margin-top: 10px;
  background-color: #CCC5B9;
}

button:hover {
  background-color: #EB5E28;
  cursor: pointer;
  transition-duration: 0.4s;
}

form {
text-align: center;
  margin-inline: 20px;
  padding: 25px;
  margin-bottom: 20px;
  max-width: 100%;
}

.check-box {
    display: inline-block;
    text-align: left;
}

.text-area {
margin-top: 5px;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #403D39;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #EB5E28;
}

footer {
  margin-top: 10px;
  text-transform: lowercase;
  letter-spacing: -1px;
  text-decoration: underline overline;
  text-align: center;
}